@font-face {
    font-family: Raleway;
    src: url("Raleway-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-SemiBold.ttf");
    font-weight: bold;
}

html {
    text-align: center;
}

header {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid black 1px;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 12pt;
}

footer {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    border-top: solid black 1px;
    margin-top: 1em;
    padding-top: 1em;
}

#footer-logo {
    height: 6em;
    float: left;
}

#footer-text {
    font-size: 1.25em;
    padding: 1.5em;
}

#quote {
    text-align: center;
    font-size: 1.5em;
}

#logo {
    float: left;
    height: 4em;
}

#title {
    font-size: 32px;
    padding: 0.5em;
}