<html>
<head>
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Batfacts by FAX</title></head>
<body>

<header>
    <img id="logo" alt="Bat" src="../static/bat.svg" style="width: 96px;"/>
    <div id="title">Batfax @ Electromagnetic Field</div>
</header>

<div id="quote">
    <p>Here is your bat fact:</p>
    <div id="quote-text">&quot;{{ quote }}&quot;</div>
</div>

<footer>
    <img id="footer-logo" alt="Electromagnetic Field 2024 logo" src="../static/logo-dark.svg"/>
    <div id="footer-text">Thank you for visiting.  Please consider volunteering!</div>
</footer>

</body>
</html>